@import "../../_globalColor";

.barchart {
  padding-left: 0;
  list-style: none;
  line-height: 3.5vw;
  font-size: 3rem;
  display: flex;
  width: 90%;
  padding: 20px 10px;
  margin: 0px auto;
  margin-top: 2rem;
  text-align: center;
}

@media (max-width: 1456px) {
    .barchart {
      line-height: 4rem;
    }
}